.productsContainer {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.filterProductsContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 25%;
}

.categoriesButtonContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.categoryButton {
  padding: 0.25rem;
  border-radius: 0.3rem;
  border: 1px solid black;
  background-color: #f5f5f5;
  cursor: pointer;
  transition: background-color 0.3s;
}

.categoryButtonSelected {
  padding: 0.25rem;
  border-radius: 0.5rem;
  background-color: yellow;
  border: 1px solid black;
  cursor: pointer;
  transition: background-color 0.3s;
}

.categoryButton:hover {
  background-color: #e0e0e0;
}

.filterProductsResultsContainer {
  display: flex;
  width: 70%;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 1rem;
}

.productPreviewCard {
  width: 20rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  border-radius: 1rem;
  background-color: white;
}

.productPreviewCard:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  opacity: 0.9;
}

.productPreviewCard img {
  margin: 0 auto;
  padding-bottom: 1rem;
  height: 10rem;
  object-fit: cover;
}

.noResultsContainer {
  padding-top: 20%;
  text-align: center;
  background-color: white;
  border-radius: 15px;
  height: 100%;
  width: 100%;
}
