.headline {
  cursor: pointer;
  font-size: 4rem;
}

.headline:hover {
  opacity: 0.5;
}

.navbarSearchInput {
  width: 20rem;
  padding: 0.2rem;
}

.navbarSearchButton {
  padding: 0.25rem;
  border-radius: 0.3rem;
  border: 1px solid black;
  background-color: #f5f5f5;
  cursor: pointer;
  transition: background-color 0.3s;
}

.accountCircleIcon {
  cursor: pointer;
}

.accountCircleIcon:hover {
  opacity: 0.5;
}
