* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f5f5f5;
  padding: 3rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
}

nav {
  display: flex;
  gap: 1rem;
  margin-right: 2rem;
}
